:root {
  --ui-scale: 2;
  image-rendering: crisp-edges;
  font-size: calc(var(--ui-scale) * 8px);
}

* {
  font-family: Minecraftia;
}

body {
  background-size: calc(var(--ui-scale) * 16px);
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  display: inline-flex;
  flex-direction: column;
  padding: 1rem;
  border-image-slice: 4 fill;
  border-image-repeat: stretch;
  border-image-width: calc(var(--ui-scale) * 4px);
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  button {
    background-color: var(--color);
    border: 2px solid black;
    aspect-ratio: 1;

    &:hover {
      border-color: white;
    }
  }
}

.banner {
  position: relative;
  aspect-ratio: 1/2;

  width: 2.5rem;
  height: 5rem;

  .banner-layer {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
  }
}

.writing {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;

  &.ltr {
    flex-direction: row;
  }

  &.rtl {
    flex-direction: row-reverse;
  }
}
