:root {
  image-rendering: crisp-edges;
  font-size: calc(1 * 16px);
}

* {
  font-family: Minecraftia;
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  button {
    background-color: var(--color);
    border: 2px solid black;
    aspect-ratio: 1;

    &:hover {
      border-color: white;
    }
  }
}

.banner {
  position: relative;
  aspect-ratio: 1/2;

  width: 2.5rem;
  height: 5rem;

  .banner-layer {
    position: absolute;
    inset: 0;
    background-repeat: no-repeat;
  }
}

.writing {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;

  &.ltr {
    flex-direction: row;
  }

  &.rtl {
    flex-direction: row-reverse;
  }
}
