.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  button {
    background-color: var(--color);
    border: 2px solid black;
    aspect-ratio: 1;

    &:hover {
      border-color: white;
    }
  }
}
